<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vote</title>
    <style type="text/css">
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
</style>
    <script type="text/javascript">
function doIt() {}
function vote(num) {
}

    </script>
  </head>
  <body onload='doIt();'>

   <iframe width="560" height="315" src="<%= video %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   <button onclick='vote(1);'>1</button>
   <button onclick='vote(2);'>2</button>
   <button onclick='vote(3);'>3</button>
   <button onclick='vote(4);'>4</button>
   <button onclick='vote(5);'>5</button>
  
  </body>
</html>
